<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    {% if error %}
    <p><strong>{{error}}</strong></p>
    {% endif%}
    <form method="post" action="/home">
        <input type="text" name="username" placeholder="Username">
        <input type="password" placeholder="Password" name = "password">
        <input type = "Submit">
    </form>
    Don't have an account? <a href = "{{url_for('signup')}}">Sign Up</a>
</body>
</html>